# Ignore uploaded agricultural resource images
/backend/public/images/agricultural_resources/

# Ignore backend .env file
/backend/.env

# Ignore backend upload folder for detection images
/backend/uploads/

# Ignore test image screenshots
/tes_gambar/foto ss/