/* MainLayout.css */

.main-layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1; /* Allows main content to take up available space */
  padding-top: 150px; /* Increased significantly for clear separation */
  display: flex; /* Added for vertical centering */
  flex-direction: column; /* Added for vertical centering */
  /* justify-content: center; Removed as we will rely on fixed margins */
}
