/* MainLayout.css */

.main-layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1; /* Allows main content to take up available space */
  padding-top: 70px; /* Adjust based on Navbar height */
  /* display: flex; Removed vertical centering */
  /* flex-direction: column; Removed vertical centering */
  /* justify-content: center; Removed vertical centering */
}
